//variables-------------------

$font: Verdana, Geneva, sans-serif;
$cmpblue: #006;


//mixins----------------------

@mixin text($type) {
  @if($type == header){
    color: #006;
	font-size: 2rem;
  }
  @else{
    font-size: 1rem;
  }
  font-family: $font;
  text-align: center;
}


//media------------------------

@media only screen and (max-width: 768px) { 
  body {
     
  }
}


//other------------------------

html {
  font-size: 20px;
}

body {
	background-color: #FFF;
	padding: 5%;
	background-image: url(./images/corkboard.jpg);
	background-attachment: fixed;
}

.header {
  @include text(header);
  letter-spacing: -0.3rem;
  line-height: 2.75rem;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	//height: 100px;
    position: relative;
    background: $cmpblue;
	text-align: center;
	padding: 0 2rem;
}

.tabs-container {
	height: 80px;
}

.footer-container {
	height: 25px;
	justify-content: center;
	align-items: center;
	display: inline;
}

.tabs-container, .footer-container {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: $cmpblue;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.tab {
	color: white;
	&:hover {
		color: $cmpblue;
      	background: white;
		transition: all 0.5s ease;
    }
}

.tab, .tab-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 1rem;
}

.tab-select {
	color: $cmpblue;
    background: white;
}

.note {
  text-align: center;
}

h6 {
  @include text(h6);
  color: #FFF;
  font-size: 0.5rem;
  text-align: center;
  margin: 0%;
}

p {
  @include text(p);
}

a {
  @include text(a);
  color: #09F;
  text-decoration: none;
  &:hover {
    color: #006;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: center;
  text-align: center;
}

.webmaster {
  height: 1.2rem;
  width: 180px;
  &:hover {
    color: teal;
  	background: gray;
	transition: all 0.5s ease;
  }
}